
.header-text {
text-align: center;
color: white;
padding: 20px;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header {
  margin: 100px 30px 0;
  text-align: center;
}

.data-form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: inline-flex;
}

.input {
  border: 2px solid #ff0000;
  display: block;
  padding: 10px 20px 10px 5px;
  margin: 20px 0;
  font-weight: bolder;
  color: black;
  box-sizing: content-box;
  max-width: 300px;
  width: 80%;
}
.quiz-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.submitForm {
  width: unset;
  color: #fff;
  background: #1e90ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.question-header {
  padding: 50px;
  text-align: center;
}

.quiz-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 10px rgba(204, 204, 204, 0.57);
  margin: 0 20px;
}

.form-buttons {
  border-top: 1px solid #ccc;
  display: inline-flex;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
}

.form-btn {
  width: unset;
    color: #1e90ff;
    background: #fff;
    border: 1px solid #1e90ff;
    border-radius: 5px;
    padding: 10px 20px;
}

  @media (min-width: 1024px) {
    .body {
      justify-content: center;
    }
  }
